.main-background-color {
    background-color: hsl(30, 38%, 92%);

}

.no-padding {
    padding: unset;
}

.white-background {
    background-color: white;
}

.img-sizing {
    object-fit: cover;

}

.round-5 {
    border-radius: 2%;
}

.img-round-5 {
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}
.perfume-spacing{
letter-spacing: 5px;

}
.btn-cyan{
    background-color: hsl(158, 36%, 37%);
}